<div class="ui basic segment" id="main-segment">
  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <a href="{{urls.back}}"><md-button class="md-button">
       <div class="ion ion-ios7-arrow-back"></div>
        </md-button></a>
        <span>Liste des forums</span>
      </h2>
  </md-toolbar>
  <md-card ng-repeat="section in forums">
    <h4>{{section.name}}</h4>
    <md-list>

      <md-item ng-repeat="sub in section.subsections">
        <md-item-content>
          <a href="/#/forums/{{sub.id}}" class="eight wide column">
               {{sub.nom}}
            </a>
        </md-item-content>
      </md-item>

    </md-list>
  </md-card>
  <div layout="horizontal" layout-align="center">


    <md-progress-circular mode="indeterminate" ng-if="loading"></md-progress-circular>

  </div>

</div>
