<div>
  <md-card ng-repeat="section in forums" ng-if="section.subsections.length !== 0">
    <h4>{{section.name}}</h4>
    <md-list>

      <md-item ng-repeat="sub in section.subsections">
        <md-item-content>
          <a ui-sref="forums.topics.list({id: sub.id})" class="eight wide column">
               {{sub.nom}}
            </a>
        </md-item-content>
      </md-item>

    </md-list>
  </md-card>
  <div layout="horizontal" layout-align="center">
    <md-progress-circular mode="indeterminate" ng-if="loading"></md-progress-circular>
  </div>

</div>
