 <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
      <a ui-sref="forums.topics.list({id: id})" >
       <i id="left-nav-icon" marka-icon="arrow"></i>
      </a>
        <span>{{title || 'Loading...'}}</span>
      </h2>
 </md-toolbar>
       <i id="left-nav-icon" marka-icon="arrow #fff 25 left"></i>
 <div infinite-scroll="loadMorePosts()" infinite-scroll-distance="0">
  <md-content>

    <md-card ng-repeat="post in posts">
      <h5 ng-bind-html="post.title"></h5>
      <p ng-bind-html="post.body">
      </p>
    </md-card>
  <div layout="horizontal" layout-align="center">

    
    <md-progress-circular mode="indeterminate" ng-if="more"></md-progress-circular>

  </div>

  </md-content>
  
</div>
