<div class="ui basic segment" id="main-segment">
  <div class="ui active dimmer" ng-if="loading">

    <div class="ui flipping loader">
      <div class="shape"></div>
      Loading
    </div>
  </div>
  <div class="ui cards">
    <div class="ui card" ng-repeat="post in posts">
      <div class="content">
        <div class="header">{{post.author}}</div>
        <div class="meta">{{post.ts}}</div>
        <div class="description" ng-bind-html="post.body">

        </div>
      </div>
    </div>
  </div>
</div>
