
  <div infinite-scroll="loadMorePosts()" infinite-scroll-distance="1">
    <md-card ng-repeat="post in posts">
      <h5 ng-bind-html="post.title">
      </h5>
      <p ng-bind-html="post.body">
      </p>
    </md-card>

    <div layout="horizontal" layout-align="center">
      <md-progress-circular mode="indeterminate" ng-if="more">
      </md-progress-circular>
    </div>
  </div>
<md-toolbar class="bottom-toolbar md-theme-light">
      <div class="md-toolbar-tools light"  layout="horizontal">
        <md-text-float label="Ajouter un message" ng-model="newMessageBody"></md-text-float>
        <i class="mdi-content-send" ng-click="sendMessage($event)"></i>
      </div>
</md-toolbar>
