<div class="ui large fixed fluid main menu">
  <div class="header item">JVC App non officiel</div>
  <div class="ui right menu">
    <a href="/#/settings" class="item"><i class="settings icon"></i></a>
  </div>
</div>

<div class="content">
  <div class="ui page grid">
    <a href="#/games" class="ui eight wide column">
      <h2 class="ui icon header">
      <i class="circular inverted game icon"></i>
      <div class="content">
        Jeux
      </div>
      </h2>
    </a>
    <a href="#/news" class="ui eight wide column">
      <h2 class="ui icon header">
        <i class="circular inverted calendar icon"></i>
        <div class="content">
          Actualit&eacute;s
        </div>
      </h2>
    </a>
    <a href="#/forums" class="ui eight wide column">
      <h2 class="ui icon header">
        <i class="circular inverted comments outline icon"></i>
        <div class="content">
          Forums
        </div>
      </h2>
    </a>
    <a href="#/videos" class="ui eight wide column">
      <h2 class="ui icon header">
        <i class="circular inverted video icon"></i>
        <div class="content">
          Vid&eacute;os
        </div>
      </h2>
    </a>
    <a href="#/tips" class="ui eight wide column">
      <h2 class="ui icon header">
        <i class="circular inverted idea icon"></i>
        <div class="content">
          Astuces
        </div>
      </h2>
    </a>
    <a href="#/articles" class="ui eight wide column">
      <h2 class="ui icon header">
        <i class="circular inverted book icon"></i>
        <div class="content">
          Articles
        </div>
      </h2>
    </a>

  </div>
</div>
