<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- <link href="lib/ionic/css/ionic.css" rel="stylesheet"> -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/vendors.css" rel="stylesheet">
    <link href="css/icon-font.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
<!--    <script src="lib/ionic/js/ionic.bundle.js"></script>-->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="js/vendors.js"></script>

    <!-- your app's js -->
    <script src="js/application.js"></script>
  </head>
  <body ng-app="jvc" class="{{containerClass}}">
    <div class="navbar" ng-controller="NavBarCtrl">
        <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <a ng-click="navButtonCallback()"> <i id="left-nav-icon"></i></a>
            <span ng-cloack="Loading">{{title}}</span>

            <span flex></span>
            <a ng-click="call(button.uid)" ng-repeat="button in buttons"> <i class="toolbar-icon mdi-{{button.icon}}"></i></a>

          </h2>
        </md-toolbar>
    </div>
    <div id="content" ui-view autoscroll>
    </div>
  </body>
</html>
